body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #3a3a3a;
    font-weight: bold;
}

form fieldset {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

form legend {
    font-weight: bold;
    color: #333;
}

form label {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    text-align: right;
}

form input[type='number'] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.custom-box-size-fields-hidden {
    display: none;
}

.custom-box-size-fields-shown {
    display: block;
}

button:hover {
    background-color: #0056b3;
}

#outputResult {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #007BFF;
}